* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
}

.logo p {
    font-size: 1.2rem;
    color: black;
    font-weight: bold;
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background-color: white;
    color: black;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.burger-menu {
    display: none;
    font-size: 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
}
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
    transition: all 0.3s ease-in-out;
}

.menu.open {
    display: block;
}

.menu li {
    padding: 10px 15px;
    cursor: pointer;
}
.buttons button {
    padding: 8px 15px;
    background-color: #3f5162;
    border-radius: 10px;
    border: 1px solid black;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #627282;
    transform: scale(1.1);
    border: 2px solid black;
}
@media (max-width: 768px) {
    .burger-menu {
        display: block;
    }

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 0;
        width: 100%;
        background-color: white;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        padding: 10px 0;
    }

    .menu.open {
        display: flex;
    }

    .menu li {
        text-align: center;
    }

    .buttons {
        display: none;
    }
}
